* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", "Inria Sans", sans-serif;
  display: flex;
  justify-content: center;
  padding: 23px 0 40px 0;
}
.page-wrapper {
  overflow: hidden;
  width: 390px;
  border-radius: 10px;
  background: #f2f2f2;
  box-shadow: 0 0 20px 2px rgba(139, 139, 139, 0.46);
  padding-bottom: 12px;
}
.header {
  font-family: "Inter";
  color: #fff;
  padding: 17px 73px 89px 20px;
  border-radius: 0 0 30px 30px;
  background:
    linear-gradient(
      0deg,
      rgba(242, 242, 242, 0.75) -10.05%,
      rgba(0, 0, 0, 0.61) 100%
    ),
    url("../img/bc_image.png") lightgray 50% / cover no-repeat;
}
.text {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.text-description {
  margin-top: 7px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.body_wrapper {
  padding: 0 10px;
}
.user_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -45px;
  font-family: "Inter";
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  padding-bottom: 16px;
  margin-bottom: 9px;
}
.user_avatar {
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  margin: -44px 0 20px 0;
}
.user_name {
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  margin: 0 0 8px 0;
}
.user_description {
  color: #888888;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}
.body_container {
  padding: 15px;
  background-color: white;
  height: 788px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
.buttons {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  gap: 10px;
  margin-bottom: 15px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 5px;
}
.button.twitter {
  background: #1da1f2;
}
.button.youtube {
  background: #ff0000;
}
.blog {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 17px 15px;
  background: #636363;
  border-radius: 5px;
  margin-bottom: 20px;
}
.blog_title {
  margin-bottom: 5px;
  color: white;
  font-size: 16px;
}
.blog_description {
  display: block;
  margin: 0;
  color: #d7d7d7;
  font-size: 12px;
  letter-spacing: 0.6px;
}
.quote {
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 20px;
}
